.sb-list-item {
    justify-content: space-between;
    align-items: center;
}
.list-select {
    padding: 1em;
    border-radius: 5px;
}
.list-remove {
    margin-bottom: 0.7em;
}
.list-select:hover {
    background-color: var(--lightGrey);
}