table {
  background-color: white;
  font-family: 'HelveticaNeue';
}

th {
  font-size: 12px;
  min-width: 150px;
}

td {
  min-width: 150px;
  max-width: 300px;
  overflow-wrap: break-word;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: var(--lightPurple);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.form {
  background-color: white;
  border: 1px solid #80808042;
  font-family: 'HelveticaNeue';
  flex-wrap: wrap;
  font-size: 14px;
}

.answer-form {
  flex-direction: column;
}

.text-answer {
  border-bottom: 2px solid;
  margin-top: 2em !important;
  width: 70% !important;
}

.sb-pagination {
  transform: scale(0.8);
}

.sb-pagination li a{
  color: var(--secondary);
}

.sb-pagination .active span {
  background-color: var(--primary) !important;
}

.sb-pagination .page-link:focus, .sb-pagination .page-link:hover {
  box-shadow:none;
  color: var(--primary);
}